@import 'fonts/font.css';

$white: #fafafa;
$bg-color: #b8d4df;
$base-font-color: #393939;
$heading-color: #D06949;
$grey: #a8aec2;

$base-font: 'Bazar Medium', sans-serif;
$heading-font: 'Pacifico', sans-serif;
